option domain-name-servers 8.8.4.4, 8.8.8.8;

default-lease-time 600;
max-lease-time 7200;
ddns-update-style none;
authoritative;

subnet 192.168.23.0 netmask 255.255.255.0 {
  range 192.168.23.100 192.168.23.130;
  option domain-name-servers 8.8.4.4, 8.8.8.8;
#  option domain-name "internal.example.org";
  option routers 192.168.23.1;
  option broadcast-address 192.168.23.0;
  default-lease-time 600;
  max-lease-time 7200;
#host name1.wan { hardware ethernet 00:01:aa:aa:bb:cc; fixed-address 192.168.23.104; }
}

subnet 192.168.55.0 netmask 255.255.255.0 {
  range 192.168.55.100 192.168.55.130;
#  option domain-name-servers 8.8.4.4, 8.8.8.8;
#  option domain-name "internal.example.org";
#  option routers 192.168.23.1;
  option broadcast-address 192.168.55.0;
  default-lease-time 600;
  max-lease-time 7200;
#host name2.lan { hardware ethernet 00:01:aa:aa:bb:cc; fixed-address 192.168.55.104; }

}
